{% extends 'base.html' %}
{% block title %}
<title>Listado dioses creados</title>
{% endblock title %}

{% block masterhead %}
<header class="masthead">
    <div class="container position-relative">
        <div class="row justify-content-center">
            <div class="col-xl-6">
                <div class="text-center text-white">
                    <!-- Page heading-->
                    <h1 class="mb-5">Dioses Creados</h1>
{% endblock masterhead %}
{% block cuerpo_posheader %}
<br>
<p>
    <a class="btn btn-primary" href={% url "crear_dios" %}>Crear dios</a>
</p>
<p>
    <form action= {% url 'listado_dioses' %}>
         {{form}}  
        <button>Buscar</button>
    </form>
</p>

<p>
    {% if  listado_dioses%}
    <ul>
        {% for diospropio in listado_dioses %}
        <li>
            {{diospropio}}
            <a href={% url "mostrar_dios" diospropio.id %}>Ver</a>
            <a href={% url "editar_dios" diospropio.id %}>Editar</a>
            <a href={% url "eliminar_dios" diospropio.id %}>Eliminar</a>
        </li>
        {% endfor %}        
    </ul>
    {% else %}
    No se encontraron datos.
    {% endif %}
</p>
{% endblock cuerpo_posheader  %}
