{% extends 'base.html' %}
{% block title %}
<title>Listado de Demonios creados</title>
{% endblock title %}

{% block masterhead %}
<header class="masthead">
    <div class="container position-relative">
        <div class="row justify-content-center">
            <div class="col-xl-6">
                <div class="text-center text-white">
                    <!-- Page heading-->
                    <h1 class="mb-5">Demonios Creados</h1>
{% endblock masterhead %}
{% block cuerpo_posheader %}
<br>
<p>
    <a class="btn btn-primary" href={% url "crear_demonio" %}>Crear Demonio</a>
</p>
<p>
    <form action={% url 'listado_demonios' %}>
        {{form}}
        <button>Buscar</button>
    </form>
</p>
<p>
    {% if object_list %}
    <ul>
        {% for demoniopropio in object_list %}
        <li>
            {{demoniopropio}}
            <a href={% url "mostrar_demonio" demoniopropio.id %}>Ver</a>
            <a href={% url "editar_demonio" demoniopropio.id %}>Editar</a>
            <a href={% url "eliminar_demonio" demoniopropio.id %}>Eliminar</a>
        </li>
        {% endfor %}        
    </ul>
    {% else %}
    No se encontraron datos.
    {% endif %}
</p>
{% endblock cuerpo_posheader  %}